:root {
  --main-black: #1b1b1b;
  --brown: #282323;
}

body {
  background-image: url("../img/hero.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--main-black);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 10%;
  color: white;
}
body.about {
  background-image: none;
  background-color: var(--main-black);
}
.nav-link {
  color: white;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0%;
}

.navbar-brand {
  color: white;
  font-size: 30px;
  letter-spacing: 0%;
}
h1 {
  font-size: 72px;
}

h4 {
  font-size: 24px;
}

.about-title {
  color: #f65282;
  font-size: 18px;
  letter-spacing: 10%;
  line-height: 100%;
}

.camera {
  background-color: var(--brown);
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  border-radius: 4px;
  padding: 20px;
}

.hero {
  padding-top: 15%;
  padding-bottom: 35%;
}

.hero p {
  display: block;
  margin: auto;
  max-width: 55%;
}
p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
}
button {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 100%;
}

footer {
  font-size: 30px;
  letter-spacing: 0%;
  background-color: var(--brown);
}
.footer p {
  font-weight: 400;
  font-size: 16px;
}
