body {
  background-image: url("../img/photography_image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #1b1b1b;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 10%;
}

.nav-link {
  color: white;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0%;
}
.navbar-brand {
  color: white;
  font-size: 30px;
  letter-spacing: 0%;
}
h1 {
  font-size: 72px;
}

h4 {
  font-size: 24px;
}
p {
  display: block;
  margin: auto;
  max-width: 55%;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
}
button {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 100%;
}

.hero-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
